sudo: required
dist: trusty
language: node_js
node_js:
  - "6"

before_script:
  -

# before_install:
#  - export CHROME_BIN=/usr/bin/google-chrome
#  - export DISPLAY=:99.0
#  - sh -e /etc/init.d/xvfb start
script: npm start
env:
  NODE_ENV=development
after_script: cat coverage/**/*lcov.info | ./node_modules/.bin/coveralls
